<section class="h-screen">
    <div class="flex flex-row justify-evenly h-screen items-center">
        <div class="flex flex-col w-6/12 justify-center items-center">
            <img src="../../../assets/about.jpg" alt="" loading="lazy" class="w-6/12 h-[400px] object-cover rounded-2xl mb-4">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2YzoCJ0Litn3vZi9ro3CuA?utm_source=generator&theme=0" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="flex flex-col w-6/12 satoshi text-white mr-40">
            <h3 class="text-4xl mb-5 font-bold">I'm a software developer working remotely from Munich, Germany.</h3>
            <p class="text-xl">Over the past years, I've worked as a software developer in various projects, including front-end development, SEO, database management, and app UI/UX.
            These days, I focus in full stack development and information security.</p>
        </div>
    </div>
</section>
