<section
  class="h-[50vh] bg-transparent items-center md:items-start flex flex-col w-full md:w-full md:flex-row justify-evenly pt-40 text-bone satoshi font-bold"
>
  <div class="flex flex-col items-center md:items-start">
    <p>©2024 Pablo Gonzalez Salcido</p>
  </div>
  <div class="flex flex-col items-center md:items-start">
    <h4>Projects</h4>
    <div class="flex md:flex-col items-center md:items-start">
      <p>La Kochina</p>
      <p>Arte Foto</p>
      <p>Yoga</p>
      <p>Example</p>
    </div>
  </div>
  <div class="flex flex-col items-center md:items-start">
    <h4>Reach Out</h4>
    <div class="flex md:flex-col items-center md:items-start">
      <a
        href="https://www.facebook.com/people/La-Kochina/100083732247789/"
        target="_blank"
        class="md:mb-2 text-2xl mr-5 md:mr-0 cursor-pointer"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
      <a
        href="https://www.facebook.com/people/La-Kochina/100083732247789/"
        target="_blank"
        class="md:mb-2 text-2xl mr-5 md:mr-0 cursor-pointer"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://www.instagram.com/lakochina512/"
        target="_blank"
        class="text-2xl mr-5 md:mr-0 cursor-pointer"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://www.instagram.com/lakochina512/"
        target="_blank"
        class="text-2xl mr-5 md:mr-0 cursor-pointer"
      >
        <i class="fab fa-discord"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-col items-center md:items-start">
    <span class="material-symbols-outlined"> language </span>
    <div class="flex md:flex-col">
      <p class="cursor-pointer md:mb-2">Español</p>
      <p class="cursor-pointer md:mb-2">English</p>
      <p class="cursor-pointer md:mb-2">Deutsch</p>
    </div>
  </div>
</section>
