<section
  class="h-[50vh] bg-transparent flex flex-row justify-evenly pt-40 text-bone satoshi font-bold"
>
  <div class="flex flex-col">
    <p>©2024 Pablo Gonzalez Salcido</p>
  </div>
  <div class="flex flex-col">
    <h4>Projects</h4>
    <div class="flex md:flex-col">
      <p>Website</p>
      <p>Website</p>
      <p>Website</p>
      <p>Website</p>
    </div>
  </div>
  <div class="flex flex-col">
    <h4>Reach Out</h4>
    <div class="flex md:flex-col">
      <a
        href="https://www.facebook.com/people/La-Kochina/100083732247789/"
        target="_blank"
        class="mb-2 text-2xl mr-5 md:mr-0"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
      <a
        href="https://www.facebook.com/people/La-Kochina/100083732247789/"
        target="_blank"
        class="mb-2 text-2xl mr-5 md:mr-0"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://www.instagram.com/lakochina512/"
        target="_blank"
        class="text-2xl"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://www.instagram.com/lakochina512/"
        target="_blank"
        class="text-2xl"
      >
        <i class="fab fa-discord"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-col">
    <h4>Language</h4>
    <div class="flex md:flex-col">
      <p>Spanish</p>
      <p>English</p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>
