   <section class="h-screen flex justify-center items-center relative">
    <app-header></app-header>
    <h1 class="montserrat-bold text-bone text-8xl w-6/12">
      Hi! I'm Pablo. A Software Developer
    </h1>
    <span class="material-symbols-outlined absolute bottom-[10%] left-2/4 -translate-x-2/4 text-bone text-4xl"> expand_more </span>
  </section>
  <app-projects id="projects"></app-projects>
  <app-skills id="skills"></app-skills>
  <app-about id="about"></app-about>
  <app-footer id="footer"></app-footer>
