<section class="flex flex-col w-full">
  <app-title-section [title]="'Projects'" [subtitle]="'My most recent work with clients'" [img]="'../../../assets/points.svg'"></app-title-section>
  <div class="flex flex-col md:flex-row justify-around">
    <div class="md:h-[500px] h-5/12 mx-5 md:mx-0 md:w-4/12 my-5 md:my-5 overflow-hidden bg-[#1d1c20] text-bone rounded-[65px] card">
      <span class=" flex flex-col pl-12 mt-12 satoshi">
        <h4 class="">Website</h4>
        <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
      </span>
      <img src="../../../assets/laKochina.png" alt="" class="rounded ml-16 mt-10" />
    </div>
    <div class="md:h-[500px] h-5/12 mx-5 md:mx-0 my-5 md:my-5 md:w-6/12 overflow-hidden bg-[#1d1c20] text-bone rounded-[65px] card">
        <span class=" flex flex-col pl-12 mt-12 satoshi">
            <h4 class="">Website</h4>
            <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
          </span>
      <img src="../../../assets/laKochina.png" alt="" class="rounded ml-16 mt-10" />
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-around md:my-40">
    <div class="md:h-[500px] h-5/12 mx-5 md:mx-0 my-5 md:my-5 md:w-6/12  overflow-hidden bg-[#1d1c20] text-bone rounded-[65px] card">
        <span class=" flex flex-col pl-12 mt-12 satoshi">
            <h4 class="">Website</h4>
            <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
          </span>
          <img src="../../../assets/laKochina.png" alt="" class="rounded ml-16 mt-10" />
    </div>
    <div class=" md:w-4/12 md:h-[500px] h-5/12 mx-5 md:mx-0 md:w-4/12 my-5 md:my-5 overflow-hidden bg-[#1d1c20] text-bone rounded-[65px] card">
        <span class=" flex flex-col pl-12 mt-12 satoshi">
            <h4 class="">Website</h4>
            <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
          </span>
          <img src="../../../assets/laKochina.png" alt="" class="rounded ml-16 mt-10" />
    </div>
  </div>
</section>
