<section class="flex flex-col w-full">
  <app-title-section [title]="'Projects'" [subtitle]="'My most recent work with clients'" [img]="'../../../assets/points.svg'"></app-title-section>
  <div class="flex flex-row justify-around">
    <div class="h-[500px] w-4/12 bg-[#1d1c20] text-bone rounded-[65px] card">
      <span class=" flex flex-col pl-12 mt-12 satoshi">
        <h4 class="">Website</h4>
        <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
      </span>
      <img src="" alt="" />
    </div>
    <div class="h-8/12 w-6/12 bg-[#1d1c20] text-bone rounded-[65px] card">
        <span class=" flex flex-col pl-12 mt-12 satoshi">
            <h4 class="">Website</h4>
            <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
          </span>
      <img src="" alt="" />
    </div>
  </div>
  <div class="flex flex-row justify-around my-40">
    <div class="h-8/12 w-6/12 bg-[#1d1c20] text-bone rounded-[65px] card">
        <span class=" flex flex-col pl-12 mt-12 satoshi">
            <h4 class="">Website</h4>
            <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
          </span>
      <img src="" alt="" />
    </div>
    <div class="h-[500px] w-4/12 bg-[#1d1c20] text-bone rounded-[65px] card">
        <span class=" flex flex-col pl-12 mt-12 satoshi">
            <h4 class="">Website</h4>
            <h3 class="font-bold mb-2 text-2xl">La Kochina</h3>
          </span>
      <img src="" alt="" />
    </div>
  </div>
</section>
