img {
    height: 35%;
    position: absolute;
    bottom: 19%;
    left: 50%;
    transform: translateX(-50%);
}

// .card:hover {
//     transform: scale(1.05);
// }

section { 
    background-image: url(../../../assets/stars.png);
    background-position: 50%;
    background-size: 1090px;
}